.scroll {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	overflow-x: auto;
	width: 100%;
}

body::-webkit-scrollbar {
	width: 0;
}

body {
	background: #1F2935;
	transition: 400ms;
}

.imag {
	margin: 15px 0;
}

.header {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	background: blue;
	font-size: 40px;
	color: white;
	box-shadow: 1px 1px 10px 0px black;
	font-weight: 700;
	width: 100%;
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	color: white;
	
}

.chapter {
	margin: 40px 0;
	font-size: 30px;
	font-family: Arial;
}

img {
	max-width: 100%;
}

.next,
.previous {
	max-width: 100%;
	cursor: pointer;
	height: 50px;
	background-color: #fff;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
	border: 1px solid #000;
}

.next:hover,
.previous:hover {
	background-color: rgb(189, 189, 189);
}

.manga {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;
}

.tgSwitch {
	cursor: pointer;
	padding: 3px;
	height: 36px;
	width: 75px;
	background: #d8d9db;
	border-radius: 15px;
	transition: 400ms;

}

.slider{
	transition: 400ms;

}
.slider.active{
	transform: translateX(41px);
}
.tgSwitch.active {
	background: #4bd865;
}

.tgSwitch>.slider {
	background: white;
	border-radius: 50%;
	width: 28px;
	height: 28px;
}

.tgSwitch>input {
	display: none;
}
body.active{
	background: #E2E8F0;
	color: black;
}
.main.active{
	color: black;
}